
@font-face {
    font-family: 'sf_wonder_comicbold';
    src: url('SF_Wonder_Comic_Bold-webfont.eot');
    src: url('SF_Wonder_Comic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Wonder_Comic_Bold-webfont.woff') format('woff'),
         url('SF_Wonder_Comic_Bold-webfont.ttf') format('truetype'),
         url('SF_Wonder_Comic_Bold-webfont.svg#sf_wonder_comicbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Background pattern from subtlepatterns.com */
html {
  background: url('../img/subtle_zebra_3d_@2X.png') repeat;
  height: 100%;
} 
body {
  background: none;
}

#container {
background-color: #ffffff;
margin: 0 auto;
padding: 0;
 height: auto%;
-webkit-box-shadow: 8px 0px 10px -5px rgba(153, 153, 153, 1), -8px 0px 10px -5px rgba(153, 153, 153, 1);
   -moz-box-shadow: 8px 0px 10px -5px rgba(153, 153, 153, 1), -8px 0px 10px -5px rgba(153, 153, 153, 1);
        box-shadow: 8px 0px 10px -5px rgba(153, 153, 153, 1), -8px 0px 10px -5px rgba(153, 153, 153, 1);  
}
#indexbuttons {
	margin-top: -1em;
	padding-top: 0;
}
a:link {
  text-decoration: underline;
}	


h1 {
	font-family: 'sf_wonder_comicbold', Arial, sans-serif;
	font-size: 2.5em;
	color: #323232 !important;
	text-align: center;
	margin-top: .5em;
}
/* Default header styles */
h2, h3, h4, h5, h6 {
  font-family: 'sf_wonder_comicbold', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #6f6f6f;
    margin-bottom: 0;
    line-height: 0; }
table th {
	font-family: 'sf_wonder_comicbold', Arial, sans-serif;
  font-size: 1.5em;
}
table td {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 400;
	font-size: 1em;
}

.inline-list {
  text-decoration: underline//;
}
h5 {
  margin-top: 2em;
}
.alert-box {
  padding-top: .5em;
}

img {
  padding-bottom: 1em;
}
/* #longer_page {
  padding-bottom: 100em;
} */

button.alert, .button.alert {
    background-color: #fd6103;
    border-color: #e36113;
    color: white; }
    button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
      background-color: #e36113; }
    button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
      color: white; }